body{
    background-color: black;
    color: white;
    
}

@media screen and (max-width: 500px)
{
body{
    background-color: aqua;
}
}
@media screen and (width >= 500px) {
body{ 
    background-color: rebeccapurple ;
    background-image: url(./Prancheta\ 1.png);

}
h1{
    font-family: brittany;
}
}