body {
    background-color: black;
    color: white;

}

@media screen and (max-width: 500px) {
    body {
        background-color: aqua;
    }
}

@media screen and (width >=500px) {
    body {
        background-color: rebeccapurple;
        background-image: url(./Prancheta\ 1.png);
        background-repeat: no-repeat;

    }

    header.titulo {
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(90deg, #ffdd51, #00de77);
        justify-content: center;
        height: 59vw;
    }

    h1.titulo {
        font-family: brittany;
        font-size: 7vw;
        right: auto;
        top: auto;
        position: relative;
        margin-top: 22vh;
        margin-bottom: 0%;
        height: 8vw;
    }

    div.titulo {
        display: grid;
        justify-content: start;
    }

    h6 {
        position: relative;
        font-family: cardo;
        font-size: 2vw;
        margin: 0px;
    }

    div.imagem1 {
        background-repeat: no-repeat;
        position: relative;
        right: -12vw;
        top: 6vw;
        height: 21vw;
    }

    div.imagem2 {
        height: 21vw;
        position: relative;
        right: -18vw;
        background-repeat: no-repeat;
        top: 5vw;
    }

    div.imagem3 {
        height: 27vw;
        background-repeat: no-repeat;
        position: relative;
        right: 21vw;
        top: 29vw;
    }

    img.imagemini {
        height: inherit;
    }
    img.img3{

    }
}